.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .checkboxes {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;

        width: 70%;
    }
}